<div class="login-container">
     <div class="login-page">
      <form class="center-form" >
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label> User Name </mat-label>
          <input matInput placeholder="User Name" value="Sushi">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label> Password </mat-label>
          <input matInput placeholder="Password" value="Sushi">
        </mat-form-field>
          <button mat-raised-button color="primary" [routerLink]="['/employee-details']" routerLinkActive="router-link-active" >Login</button>
      </form>
     </div>
</div>
 